body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

html {
  font-size: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
  background: url('synthWallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: rgb(240, 240, 240);
  font-family: 'Exo', sans-serif;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Digital-7';
  src: url('fonts/Digital-7.eot');
  src: url('fonts/Digital-7.eot?#iefix') format('embedded-opentype'),
    url('fonts/Digital-7.woff2') format('woff2'),
    url('fonts/Digital-7.woff') format('woff'),
    url('fonts/Digital-7.svg#Digital-7') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.absolute {
  position: absolute;
}

.testH {
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
  height: 1px;
  width: 136.5rem;
  transform: translate(0rem, 11.4rem);
}

.testV {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  height: 80.25rem;
  width: 1px;
  transform: translate(35.1rem, 0rem);
}
